body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background-color: #ff6a28;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar.white-theme {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

#open-menu {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}

#open-menu-img {
  font-size: 20px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#logo-text {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

#logo-img {
  width: 50px;
}

#menu-container {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: #ff6a28;
  color: #fff;
  height: 100vh;
}

.nav-menu a{
  text-decoration: none;
  color: #fff;
}

#blank-space {
  height: 70px;
}

.nav-menu-opt {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  height: 100%;
}

#nav-menu-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

h3{
  margin: 0;
}

.social-media, #nav-menu-act {
  display: flex;
  flex-direction: column;
}
.social-media{
  padding-bottom: 20px;
  flex-grow: 1;
  justify-content: center;
}

@media only screen and (max-width: 599px) {
  /* Estilos específicos para dispositivos móveis */
}

/* Media query para telas médias (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* Estilos específicos para tablets */
}

/* Media query para telas grandes (Desktops) */
@media only screen and (min-width: 1024px) {
  /* Estilos específicos para desktops */
}
